/* Corps de la page Salle*/
 #page_salle
{
	top: 20.5%;
	border-radius: 10px;
	background-color: rgba(100, 100, 100,0.5);
	color: black;
}
	#page_salle h1
	{
		border-radius: 10px;
		text-align: center;
		background-color: rgba(255, 110, 0, 1);
	}
	
	#page_salle h2
	{
		margin: 15px;
		border-radius: 10px;
		color: rgba(255, 110, 0, 1);
	}
	
	#page_salle h4
	{
		margin: 15px;
		border-radius: 10px;
	}
	
	#presentation_salle
	{	
		margin: 15px;
		width: 96%;
	}

	#description_salle
	{
		border-radius: 10px;
		background-color: white;
	}
	#planning
	{
		margin: 15px;
		border-radius: 10px;
		background-color: white;
	}
		.year
		{  
			color:#888888;  
			font-size:50px;
			margin-top: 20px;
		}
		.year a 
		{
			color:#888888; 
			text-decoration: none;
		}
		.year a:hover
		{
			color:rgba(255, 110, 0, 1);	
	
		}
		.relative
		{  
			position:relative;
		}
		.month
		{  
			margin-top:20px;
		}
		.months ul
		{  
			list-style:none;  
			margin:20px; 
			padding:20px;
		}
		.months ul li a
		{  
			float:left;  
			margin:2px;  
			padding:0px 15px 0px 0px;  
			color:#888888;  
			text-decoration:none;  
			font-size:30px;  
			font-weight:bold;  
			text-transform:uppercase;
		}
		.months ul li a:hover, .months ul li a.active
		{  
			color:rgba(255, 110, 0, 1);
		}
		table
		{  
			border-collapse:collapse;
		}
		table td
		{  
			border:1px solid #A3A3A3;  
			width:100px;  
			height:100px;
		}
		table td.today
		{    
			background:rgba(255, 110, 0, 0.5);
			width:100px;  
			height:100px;
		}
		table td.padding
		{  
			border:none;
		}
		table td:hover
		{  
			background:#DFDFDF;  
			cursor:pointer;
		}
		table th
		{  
			font-weight:normal;  
			color:#A8A8A8;
		}
		table td .day
		{  
			position:absolute;  
			color:#8C8C8C;  
			bottom:-40px;  
			right:5px;  
			font-weight:bold;  
			font-size:24.3pt;
		}
		table td .events
		{  
			position:relative;  
			width:79px;  
			height:0px;  
			margin:-39px 0px 0px;  
			padding:0px;
			font-size:20px;
		}
		table td .events li
		{  
			width:10px;  
			height:10px;  
			float:left;  
			margin-left:1px;  
			list-style:none;
		}
		table td .events li a
		{ 
			text-decoration: none;
			color : rgba(255, 110, 0, 1);	
		}
		table td .events li a:hover
		{ 
			background-color: white;
			border:1px solid #ff8800;	
			border-radius: 10px;
		}				
		.clear
		{  
			clear:both;
		}